body {
    background-color: #121212;
    color: #f0f0f0;
    font-family: 'Courier New', monospace;
    text-align: center;
    padding: 40px;
  }
  
  button {
    background-color: #222;
    color: #f0f0f0;
    border: 1px solid #555;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s;
  }
  button:hover {
    background-color: #333;
  }
  
  input, select {
    background: #1a1a1a;
    border: 1px solid #444;
    color: white;
    padding: 5px;
    margin: 5px;
  }
  
  li {
    border: 1px solid #333;
    margin: 10px auto;
    padding: 10px;
    max-width: 400px;
    border-radius: 5px;
    background: #1a1a1a;
  }